.header {
    background: url("../img/decor/bghd.png") 50% 100% / cover no-repeat;
}


.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo {
    width: 174px;
    z-index: 11;
}


.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);


    transition: all .4s;
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__hero {
    padding: 50px 0 140px;
}